@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter&family=Oxygen:wght@400&family=Raleway:wght@600&display=swap');

header {
    
    width: 100%;
    display: flex;
    background: rgb(15, 9, 95);
}

body {
    margin : 0;
    padding : 0;
    cursor: url('http://www.patmax.info/curseurs/baguette.cur'),auto;
}

main {
    background-image: url(Assets/background-accueil.png);
    padding-top : 100px;
    padding-bottom: 60px;
    margin-bottom: -25px;
}

footer {
    background-image: url(Assets/texture-footer.jpg);
    align-items: center;
    margin: 0;
    padding:0;
}

.titre_accueil {
    font-family: 'Bad Script';
    font-size: 32px;
    text-align: center;
    margin-left: 320px;
    background: url("Assets/texture-titre.jpg");
    -webkit-background-clip: text;
    background-size: 100%;
    background-position: 50% 50%;
    color: rgba(255, 255, 255, 0.08);
    animation: zoomout 15s ease 500ms forwards;
    text-shadow: 
    0 0 10px rgb(224, 212, 118);
}

@keyframes zoomout {
    from {
      background-size: 100%;
    }
    to {
      background-size: 10%;
    }
}

#logo {
    transition: transform .2s;
    padding-top: 5px;
}

#logo:hover {
    transform: scale(1.03);
    cursor: url('http://www.patmax.info/curseurs/baguette.cur'),auto;
   
}

.p_accueil {
    font-family: 'Oxygen';
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}

#p_or {
    color: rgb(238, 219, 109);
}

#p_maison {
    color: rgb(0, 0, 0);
}

#bouton_accueil {
    background-color:white;
    border: 6px double rgb(32, 32, 32);
    font-family: 'Raleway';
    font-size: 35px;
    color: rgb(87, 80, 80);
    border-radius: 50px;
    box-shadow: 0 0 6px black;
    transition: transform .2s;
    padding: 5px 15px 10px 15px;
}

#place_bouton {
    margin-left: 43.5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#bouton_accueil:hover {
    
    box-shadow : 0 0 6px gold;
    transform: scale(1.12);
    color: rgb(240, 215, 134);
    background-color: rgb(0, 0, 0);
    cursor: url('http://www.patmax.info/curseurs/baguette.cur'),auto;
}

#embleme_poudlard {

    padding-left: 200px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

#titre_footer {
    font-family: 'Comforter';
    font-size: 25px;
    position: absolute;
    top: 137%;
    left: 45%;
    text-align: center;
    color: rgb(92, 92, 92);
}

#logo_github {
    position: absolute;
    bottom: -525px;
    right: 610px;
}

#logo_linkedin {
    position: absolute;
    bottom: -535px;
    right: 330px;
}

